.cormorant {
  font-size: 16px;
  font-family: "Cormorant SC", serif;
  font-weight: 500;
  font-style: normal;
}

.inter {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
