@use "@/styles/variables" as *;

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    fill: $color-primary-black;

    html[data-theme="dark"] & {
      fill: $color-primary-white;
    }
  }
}
